<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<Nag>1</Nag>
	<Quick_Options>
		<Grid>1</Grid>
		<Auto_load_last_project>1</Auto_load_last_project>
		<Snap_to_Grid>1</Snap_to_Grid>
		<Control_Borders>0</Control_Borders>
		<Add_Spaces_to_Output>1</Add_Spaces_to_Output>
		<Disable_Lists>0</Disable_Lists>
		<Auto_Save_On_Exit>1</Auto_Save_On_Exit>
		<QuickHelp>1</QuickHelp>
		<Warn_Overwrite>0</Warn_Overwrite>
		<Auto_Load_Last_Project>1</Auto_Load_Last_Project>
		<Auto_Save_on_Exit>1</Auto_Save_on_Exit>
	</Quick_Options>
	<Create>
		<Button>b</Button>
		<Checkbox>+c</Checkbox>
		<Tab>t</Tab>
		<Groupbox>g</Groupbox>
		<Combobox>c</Combobox>
		<DropDownList>d</DropDownList>
		<ComboBox>+^c</ComboBox>
		<Picture>p</Picture>
	</Create>
	<Hotkeys>
		<Snap_Window_to_Grid>+s</Snap_Window_to_Grid>
		<Font>f</Font>
		<Edit_Control>e</Edit_Control>
		<Space_Evenly_Horizontal>h</Space_Evenly_Horizontal>
		<Import_From_Clipboard>c</Import_From_Clipboard>
		<Quick_Add>q</Quick_Add>
		<Undo>z</Undo>
		<Redo>r</Redo>
		<Paste_Selected>w</Paste_Selected>
		<Copy_Selected>+w</Copy_Selected>
	</Hotkeys>
	<Offset x="2" y="0"></Offset>
	<EditControl x="1263" y="240"></EditControl>
	<Default>
		<ComboBox>200 200</ComboBox>
	</Default>
	<font bold="0" color="8388608" italic="0" name="Segoe Print" size="8" strikeout="0" underline="0"></font>
	<lastopen file=""></lastopen>
</settings>
